body{
  background-color: cream;
}

h1{
  font-size: 40px;
  color: #550000;
  display: inline;
}


h2{
  font-family:Georgia;
  font-size: 20px;
  display: inline;
  position: relative;
  top: -10%;
  left: 2%;
  color:black;
}

a.logolink{
  text-decoration:none;
  background:none;
}

a.logolink:hover{
  text-decoration:none;
  background:none;
}

h3{
  font-family:Georgia;
  font-size:16px;
  }
  
h4{
  font-family:Helvetica;
  font-style: bold;
  margin: 0px;
  margin-top:.25%;
}

p{
  font-family:Georgia;
  margin: .5%;
  margin-top: 1%;
}

a{
  color: #550000;
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
  background:#550000;
  color:white;
}

  
#summary {
  width:60%;
  margin: 0px auto;
  position:relative;
  top:0px;
  text-align:justify;
}

.ps{
  display: inline;
  font-family: Verdana;
  font-size: 14px;
}

/*This is the whole drop down menu (Simple Drop Down Menu - sddm)*/
#sddm
{	
  position: relative;
  width:95%;
	z-index: 30}

  /*This is the tabbed headings*/
#sddm li
{
	list-style: none;
	float: left;
  color: #550000;
  width:25%;
  text-align:center;
}

/*Tabbed heading link properties*/
#sddm li a
{	
  display: block;
	text-align: center;
	text-decoration: none;
}

#sddm li a:visited
{
  color:black;
}

/*Tabs' link hover*/
#sddm li a:hover
{	background: #550000;
  color: white;
}

/*Drop down boxes*/
#sddm div
{	position: absolute;
	visibility: hidden;
	padding: .25% 1%;
  color:black;
  background: white;
	border: 1px solid black;
  }

  /*Drop down link properties*/
	#sddm div a
	{	position: relative;
		display: block;
    color: black;
		text-align: left;
		text-decoration: none;
}

/*Drop down link hover*/
	#sddm div a:hover
	{
		color: black;
    }
    
.utube{
  margin:0px auto;
}

#container{
  width: 100%;
  border: 1px solid black;
  overflow-x: auto;
  overflow-y:hidden;
  margin: 0 auto;
}

#gallery{
  position:relative;
  overflow:hidden;
  width:0%;
  background: #550000;
}

.galleryItem{
  position:relative;
  float:left;
  margin: 1%;
  margin-right:0px;
  background: white;
  border-radius:5px;
  padding:5px;
  }

.imgGal{
  clip: rect(0px, 600px, 120px, 0px);
  max-width:95%;
  border-radius: 5px;
  position:absolute;
  margin:0px;
}

h6{
  font-family:Georgia;
  font-size:16px;
  margin-bottom:5px;
  margin-top: 8%;
  }