/*This is the whole drop down menu (Simple Drop Down Menu - sddm)*/
#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

  /*This is the tabbed headings*/
#sddm li
{
	list-style: none;
	float: left;
  color: #550000;
}

/*Tabbed heading link properties*/
#sddm li a
{	
  display: block;
	text-align: center;
	text-decoration: none;
}

#sddm li a:visited
{
  color:black;
}

/*Tabs' link hover*/
#sddm li a:hover
{	background: #550000;
  color: white;
}

/*Drop down boxes*/
#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
  background: white;
	border: 1px solid black;
  }

  /*Drop down link properties*/
	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		text-align: left;
		text-decoration: none;
}

/*Drop down link hover*/
	#sddm div a:hover
	{	background: #49A3FF;
		color: #FFF}